@import "./base/_tailwind.css";
@import "./base/_variables.css";
@import "./base/_reset.css";

@import "./layout/_backgrounds.css";
@import "./layout/_scrollbar.css";
@import "./layout/_scroll-indicator.css";

@import "./animations/_keyframes.css";
@import "./animations/_motion-safe.css";

@import "./components/_card.css";
@import "./components/_service-card.css";
@import "./components/_button.css";
@import "./components/_logo.css";
@import "./components/_asterisk.css";
